/* PROJETOS */
.projetos .container-projetos .projeto {
  width: 250px;
  height: 300px;
}

.projetos .container-projetos {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 240px)); */
  /* grid-template-columns: auto auto;
    margin: 0 auto;
    grid-gap: 20px;
    place-content: center;    */
}

.projetos .container-projetos > div:hover {
  transform: scale(1.1);
}

@media (max-width: 1280px) {
  .projetos .container-projetos {
    padding: 0 var(--mobile-padding);
  }
}

.projetos .container-projetos .projeto {
  border-radius: 5px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  position: relative;
  opacity: 0.8;
}

.projetos .container-projetos .projeto:hover {
  opacity: 1;
}

.portfolio-projects-item-monitor-image {
  position: absolute;
  top: 25px;
  left: 29px;
  width: 91.5%;
  height: 69%;
  transition: 0.7s;
}

/* .projetos .container-projetos .projeto h3 {
    font-size: 2rem;
    font-weight: 500;    
    position: absolute;      
    opacity: 0.7;
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-branca);
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    text-align: center;
} */

.projetos .container-projetos .projeto img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.portfolio-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-projects-item {
  margin: 25px;
  opacity: 0;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 8px;
}

.portfolio-projects-item p{
    color: var(--cor-branca);
    text-align: center;
    margin: 20px;
    font-size: var(--fonte-grande);
}

.portfolio-projects-item-monitor {
  width: 640px;
  height: 535px;
  background-repeat: no-repeat;
  /* display: flex; */
  align-items: flex-start;
  justify-content: center;
  background-size: contain;
  position: relative;
  transition: 0.7s;
}

.portfolio-projects-item-celular {
  margin: 2%;
  width: 168px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: 0.7s;
}

.portfolio-projects-item-celular,
.portfolio-projects-item-monitor {
  display: inline-block;
}

.portfolio-projects-item-celular-image {
  position: absolute;
  top: 47px;
  left: 20px;
  width: 83%;
  height: 73%;
  transition: 0.7s;
}

@media (max-width: 1060px) {
  .portfolio-projects-item a {
    position: relative;
  }
  .portfolio-projects-item-celular {
    position: absolute;
    top: -250px;
    left: 220px;
  }
  .portfolio-projects-item {
    text-align: center;
    margin: 75px;
  }
}

@media (max-width: 735px) {
  .portfolio-projects {
    align-items: initial;
  }

  .portfolio-projects-item-monitor {
    max-width: 300px;
    width: 100%;
  }

  .portfolio-projects-item-monitor-image {
    position: absolute;
    top: 9px;
    left: 11px;
    width: 91.5%;
    height: 32.5%;
  }

  .portfolio-projects-item-celular {
    top: -405px;
    left: 59px;
    margin-top: 10%;
    margin-left: 20%;
    width: 115px;
    height: 125px;
    background-size: contain;
  }

  .portfolio-projects-item-celular-image {
    top: 18px;
    left: 7px;
    width: 43%;
    height: 71%;
  }

  .portfolio-projects-item {
    margin: 10px 15px -220px;
  }

  .portfolio-projects-item p{
    font-size: var(--fonte-normal);
  }
}

.slideUp {
    animation: slideUp 1.8s ease forwards;
}

@keyframes slideUp{ 
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideDown{
    animation: slideDown 1.8s ease forwards;
}

@keyframes slideDown{ 
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    25% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideRight{
    animation: slideRight 1.8s ease forwards;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-200px);
      }
      25% {
        transform: translateX(25px);
      }
      75% {
        transform: translateX(-4px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}

.slideLeft{
    animation: slideLeft 1.8s ease forwards;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(200px);
      }
      25% {
        transform: translateX(-25px);
      }
      75% {
        transform: translateX(4px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}